body{
	font-family:'Raleway', sans-serif;
	margin: auto;	
}
.big-res-header{/* header for big resolution*/
	display: flex;
	justify-content: space-between;
	max-width: 1190px;
	box-sizing: border-box;
	margin: auto;
}
.mobile-res-header{
	display: none;
}
.ipad-header{
	display: none;
}
.logo{
	padding-top: 36px;
}
.nav-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 370px;
}
.menu-hébergement{
	display: flex;
	align-items: center;
	box-sizing:border-box;
	text-decoration: none;
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-left: 24px;
 	padding-right: 24px;
 	padding-top: 36px;
 	font-size: 15px;
}
.menu-activités{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
	padding-top: 36px;
	font-size: 15px;
}
.menu-inscription{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	text-decoration: none;
	color: #0065FC;	
	font-weight: bold;
	padding-top: 36px;
	font-size: 15px;
}
.small-res-header{
	display: none;
}
main{
	box-sizing: border-box;
	max-width: 1190px;
	margin: auto;
}
.big-title{
	display: flex;
	font-size: 20px;
	margin-top: 34px;
	margin-bottom: 7px;
}
.comp-text{
	display: flex;
	box-sizing: border-box;
	font-size: 15px;
	margin-top: 0px;
}
.familial-form-ipad{
	display: none;
}
.input-group{
	display: flex;
	align-items: stretch;
	box-sizing: border-box;
	margin-top: 18px;
}
.map-marker{
	display: flex;
	background-color: #F2F2F2;
	align-items: center;
	border-radius: 15px 0px 0px 15px;
	font-size: 16px;
	padding-right:	19px;
	padding-left: 19px;
	box-sizing: border-box;
}
.input-group input{ 
  	border: 1px solid #f2f2f2;
  	border-left: 0;
  	border-right: 0;
 	font-weight: bold;
  	font-size: 16px;
  	margin: 0px;
 	box-sizing: border-box;
 	padding-left: 15px;
 	width: 224px;
}
.input-group button{
	border: none;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
	color: #fff;
	font-weight:bold;
	padding: 14px 16px 14px 16px;
	font-size: 17px; 
	margin:	0px;
	box-sizing:	border-box;
}
.input:focus{
 	outline: none;
 	box-sizing: border-box;
}
.search{
	display: none;
}
.layout-form-eco-fam{
	display: flex;
	flex-direction: row;
}
.group-filtres{
	display: flex;
	box-sizing:	border-box;
	flex-direction: row;
	justify-content: space-between;
	max-width: 940px;
	align-items: baseline; 
    margin-top: 28px;
}
.filtres{
	display: flex;
	box-sizing: border-box;
	font-size: 17px;
	font-weight: bold;
}
.group-eco{
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.money{
	display: flex;
	background: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 17px 15px 17px 15px;
	font-size: 14px;
	color: #0065FC;
	position: absolute; 
	box-sizing: border-box;
}
.eco-button{
	display: flex;
	padding: 13px 30px 13px 65px;
	background-color: #FFFFFF;
	border: 1px solid #DCDCDC;
	border-width: 1px;
	border-radius: 50px 50px 50px 50px;
	font-weight: bold;
	font-size: 17px;
	box-sizing: border-box;
}
.group-familial{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	margin-left: 30px;
}
.children{
	display: flex;
	background: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 15px 18px 15px 18px;
	font-size: 17px;
	color: #0065FC;
	position: absolute; 
	box-sizing: border-box;
}
.fam-button{
	display: flex;
	padding: 13px 23px 13px 56px;
	background-color: #FFFFFF;
	border: 1px solid #DCDCDC;
	border-width: 1px;
	border-radius: 50px 50px 50px 50px;
	font-weight: bold;
	font-size: 17px;
	box-sizing: border-box;
}
.group-romantic{ 
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.heart{
	display: flex;
	background: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 16px 15px 14px 15px;
	font-size: 17px;
	color: #0065FC;
	position: absolute; 
	box-sizing: border-box;
}	
.rom-button{
	display: flex;
	padding: 13px 18px 13px 59px;
	background-color: #FFFFFF;
	border: 1px solid #DCDCDC;
	border-width: 1px;
	border-radius: 50px 50px 50px 50px;
	font-weight: bold;
	font-size: 17px;
	box-sizing: border-box;	
}
.group-animaux{
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.dog{
	display: flex;
	background: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 15px 14px 15px 14px;
	font-size: 17px;
	color: #0065FC;
	position: absolute; 
	box-sizing: border-box;
}
.anim-button{
	display: flex;
	padding: 13px 20px 13px 60px;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #DCDCDC;
	border-width: 1px;
	border-radius: 50px 50px 50px 50px;
	font-weight: bold;
	font-size: 17px;
	box-sizing: border-box;
}
.group-info{
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	box-sizing: border-box;
}
.fa-info{
	display: flex;
	color: #0065FC;
	padding: 5px 8px 4px 8px;
	border: 2px solid #F2F2F2;
	border-radius: 50px 50px 50px 50px;
	font-size: 10px;
}
.text-info{
	display: flex;
	margin-left: 10px;
	box-sizing: border-box;
	margin-left: 11px;
	font-size: 15px;
	margin-top: 42px;
}
.group-mars-and-pop{
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 28px;
}
.group-marseille{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 772px;
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
}
.titre-marseille{
	display:flex;
	font-size: 20px;
	padding-left: 40px;
	margin: 0px;
	padding-top: 40px;
}
.all-art-mars{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 38px;
	padding-right: 38px;
	padding-top: 28px;
}
.line1-art-mars{
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 3px 7px #EDEDED, -3px -3px 7px #EDEDED;
	display: flex;
	flex-direction: column;
}
.margin-top-heb-mars{
	margin-bottom: 28px;
}
.photos-Marseille{
	border-radius: 15px 15px 0px 0px;
	border: 5px solid white;
}
.photos-small-mars{
	display: none;
}/*photos of small resolution*/
.conteneur-text-mars{
	background-color: white;
	border-radius: 0px 0px 15px 15px;
	padding-left: 15px;
	margin-top: 0px;
}
.h2-heb-mars{
	display: flex;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 4px;
	text-decoration: none;
}
.price-heb-mars{
	font-size: 13px;
	margin: 0px;
	text-decoration: none;
}
a{
	text-decoration: none;
	color: black;
}
.star-group-mars{
	margin-top: 6px;
	padding-bottom: 8px;
}
.fa-star{
	color: #0065FC;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 9px;
	font-size: 10.5px;
}
.gray{
	color: gray !important;
}
.plus-Marseille{
	display: flex;
	font-size: 15px;
	font-weight: bold;
	padding-top: 27px;
	padding-left: 40px;
	padding-bottom:24px;
}
.group-popular{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 380px;
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
}
.pop-title-and-icon{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	box-sizing: border-box;
	padding: 0px;
	padding-left: 40px;
	padding-right: 40px;
	max-width: 400px;
}
.titre-pop{
	font-size: 20px;
	margin: 0px;
	box-sizing: border-box;
	padding-top: 40px;
}
.fa-chart-line{/*icon group popular*/
	display: flex;
	font-size: 22px;
}
.all-art-pop{
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 34px;
	max-width: 400px;
}
.art-pop{
	display: flex;
	flex-direction: row;
	border-radius: 20px 20px 20px 20px;
	margin-top: 28px;
	box-sizing: border-box;

}
.photos-popular{
	border: 5px solid white;
	border-radius: 20px 0px 0px 20px;
	box-shadow: 3px 3px 7px #EDEDED, -3px -3px 7px #EDEDED;
	width: 110px;
	height: 110px;
}
.conteneur-text-pop{
	background-color: white;
	border-radius: 0px 20px 20px 0px;
	padding-top: 14px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
.h2-pop{
	font-size: 14px;
	margin: 0px;
}
.pop-price{
	font-size: 13px;
	margin-top: 8px;
	}
.star-group-pop{
}
.group-act-mars{
	max-width: 1366px;
	margin-top: 54px;
	margin-bottom: 56px;
}
.titre-act-marseille{
	display:flex;
	font-size: 20px;
}
.all-art-act-mars{
	display: flex;
	max-width: 1366px;
	justify-content: space-between;
	margin-top: 20px;
	height: 400px;
	margin-top: 3%;
}
.art-act-m{
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 3px 7px #EDEDED, -3px -3px 7px #EDEDED;
}
.small-res-photo-act-mars{
	display: none;
}
.photos-act-Marseille{
	border-radius: 15px 15px 0px 0px;
}
.conteneur-text-act-mars{
	background-color: white;
	border-radius: 0px 0px 15px 15px;
	padding-bottom: 4px;
	padding-left: 15px;
	padding-top: 3px;
}
.h2-act-mars{
	font-size: 14px;
}
.layout-horizontal-act-mars{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
.layout-1-art-mars{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	width: 48.5%;
}
.layout-2-art-mars{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	width: 48.5%;
}
footer{
	background-color: #F2F2F2; 
	margin: 0 auto; 
	box-sizing: border-box;
	max-width: 1366px;
}/*for gray background*/
.group-footer{
	padding-top: 26px;
	display: flex;
	justify-content: flex-start;
	max-width: 1190px;
	padding-bottom: 46px;
	margin: auto;
	padding-left: 0px;
}
.h1-footer{
	font-size: 15px;
}
.cols-footer{
	display: flex;
	flex-direction: column;
	font-size: 15px;
}
.footer-a{
	margin-top: 9px;
	text-decoration: none;
	color: black;
}
.margin-left-text-footer{
	margin-left: 230px;
}
.ipad-photos{
	display: none;
}
.group-footer-mob{
	display: none;
}



