	/* size: ipad mini*/
	body{
		margin: 0 auto;
	}
	.big-res-header{
		display: none;
	}
	.mobile-res-header{
		display: none;
	}
	.ipad-header{
		display: flex;
		box-sizing: border-box;
		justify-content: space-between;
		margin: auto;
	}
	.nav-menu-ipad{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-width: 350px;
	}
	.hébergement-header{
		display: flex;
		box-sizing: border-box;
		border-top: 2px solid #0065FC;
		border-bottom: none;
	 	align-items: center;
	 	padding-top: 30px;
	 	padding-right: 35px;
	 	padding-left: 35px;
	 	text-decoration: none;
	 	color: #0065FC;
	}
	.activités-header{
		border-bottom: none;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		color: black;
		padding-top: 30px;
		text-decoration: none;
		margin-right: 14px;
	}
	.inscription-header{
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding-top: 30px;
		text-decoration: none;
		color: #0065FC;
		font-weight: bold;
	}
	.logo-ipad{
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding-top: 30px
	}
	.group-filtres{
		display: flex;
		align-items: baseline;
		margin-top: 12px;
	}
	.small-form{/* group form écnomique*/
		margin-left: 5.5px;
	}
	.fam-small{/* group form Familial*/
		margin-left: 5.5px;
	}
	.group-romantic{/* group form romantique*/
		margin-left: 20px;
	}
	.group-animaux{/* animaux autorisés*/
		margin-left: 7px;
	}
	.eco-button-small{/*text "économique"/ ipad mini768px(7,9 pouces*/
		padding-left: 48px;
		width: 148px;
	}
	.fam-button-small{/*text "familial"/ ipad mini768px(7,9 pouces*/
		padding-left: 50px;
		width: 118px;
	}
	.rom-button{/*text "romantique"/ ipad mini768px(7,9 pouces*/
		padding-left: 48px;
		width: 144px;
	}
	.anim-button{/*text "animaux autorisés"/ ipad mini768px(7,9 pouces*/
		padding-left: 50px;
		width: 200px;
	}
	.group-popular{
		box-sizing: border-box;
	}
	.all-art-pop{/*all articles of group populaire (ipad mini 768px)*/
		display: flex;
		flex-direction: column;
		margin-top: 1%;
		max-width: 90%;
		margin: auto;
	}
	.art-pop{/*each article of group populaire (ipad mini 768px)*/
		margin-bottom: 28px;
		align-items: stretch;
	}
	.art-pop:first-child{
		margin-left: 0rem;
	}
	.photos-popular{
		border-radius: 20px 0px 0px 20px;
		width: 28%;
	}
	.conteneur-text-pop{/* text container/group populaire (ipad mini 768px)*/
		border-radius: 0px 20px 20px 0px;
	}
	.star-group-pop{/* star group / group populaire(ipad mini 768px)*/
		margin-bottom: 10%;
	}
	.titre-marseille{/* Title group Marseille(ipad mini 768px)*/
		margin-top: 42px;
	}
	.line1-art-mars{
		max-width: 90%;
		margin-top: 30px;
	}
	.art-act-m{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 9%;
		}
	.conteneur-text-mars{
	}
	.group-marseille{
		margin: auto;
		display: flex;
		flex-direction: column;
	}

	.plus-Marseille{/* Last phrase /group Marseille(ipad mini 768px)*/
		margin-top: 40px;
		margin-bottom: 40px
	}
	.group-act-mars{
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		padding-top: 0px;
		margin-top: 0px;
	}
	.group-footer{/*  All tests together /footer /Activités Marseille (ipad mini 768px)*/
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		margin: auto;
		align-items: baseline;
		padding-top: 3% !important;
	}
	.titre-act-marseille{/*  Title /Activités Marseille (ipad mini 768px)*/
		margin-bottom: 28px;

	}
	.small-res-photo-act-mars{
		border-radius: 15px 15px 0px 0px;
	}
	.conteneur-text-act-mars{
		background-color: white;
		border-radius: 0px 0px 15px 15px;
	}
	.h2-act-mars{
		margin-top: 50px;
		margin-left: 20px;
	}
	@media screen and (min-width:800px) and (max-width:1366px){
			.all-art-pop{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 0px;
				margin-top: 0px;
			}
			.art-pop{
				margin-left: 1rem;
			}
			.ipad-photos{
				width: 90%
			}
			.all-art-mars{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.line1-art-mars{
				max-width: 30%;
			}
			.photos-small-mars{
				height: 50%;
			}
			.conteneur-text-pop{
				width: 45%;
			}
			.h2-pop{
			}
			.pop-price{
			}
			.star-group-pop{
			}
			.all-art-act-mars{
				display: flex;
				flex-direction: row;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}
			.small-res-photo-act-mars{
				border-radius: 20px 20px 0px 0px;
			}
			.h2-act-mars{
				margin-top: 20px;
			}
			.pop-title-and-icon{
				max-width: 100%;
				display: flex;
				box-sizing: border-box;
				margin: auto;
			}
			.all-art-pop {
				max-width: 100%;
			}
			.layout-form-eco-fam{
				margin-left: 20px;
			}
			.group-familial{
				margin-left: 20px;
			}
			.layout-1-art-mars{
				display: flex;
				flex-direction: column;
				box-sizing: border-box;
				margin-right: 4.8%;
			}
			.layout-2-art-mars{
				display: flex;
				flex-direction: column;
				box-sizing: border-box;
			}
			.layout-horizontal-act-mars{
				display: flex;
				flex-direction: column;

			}
		}

			